<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Receipts</title>
</head>
<style>
    li {
      display: inline;
      padding : 0;
      margin : 0 0 0 12px; 
      font-size: small;
   }
  </style>
<body>
    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'logout' %}">Logout</a>
                </li>
                <li><a href="{%url 'home' %}">Receipts</a></li>
                <li><a href="{% url 'receipt_category_list' %}">Expense Category</a></li>
                <li><a href="{% url 'receipt_account_list' %}">Account</a></li>
                <li><a href="{% url 'receipt_category_create' %}">Create Expense Category</a></li>
                <li><a href="{% url 'receipt_create' %}">Create Receipts</a></li>
                <li><a href="{% url 'receipt_account_create' %}">Create Account</a></li>
                {%else%}
                <li>
                    <a href="{% url 'signup' %}">Sign Up</a>
                </li>
                <li>
                    <a href="{% url 'login' %}">Login</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </header>
    {% block content %}
    {% endblock content %}
</body>
</html>