{% extends 'base.html' %}

{%block content%}
<h1>Expense Category</h1>
<table class="table table-bordered table-striped table-condensed table-hover">
    <thead> 
        <tr>
            <th> Name </th>
            <th> Number of receipts </th>
    </thead>
    <tbody>
        {% for expensecategory in expensecategory_list %}
        <tr>
            <td> {{expensecategory.name}} </td>
            <td>{{expensecategory|length}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{%endblock content%}